@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-darker-green: hsl(154, 59%, 45%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  background-image: url(../images/bg-intro-mobile.png), linear-gradient(to bottom, var(--color-red), var(--color-red));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: normal;
}

.container {
  width: 87%;
  margin: 0 auto;
}

.intro {
  margin-top: 6rem;
  margin-bottom: 5rem;
  text-align: center;
}
.intro__heading span {
  display: block;
}
.intro__text {
  margin-top: 1.5rem;
}
.intro__cta {
  margin-top: 3rem;
}
.intro__subheading {
  position: relative;
  font-size: 1rem;
  padding: 1rem 3rem;
  background-color: var(--color-blue);
  border-radius: 0.5rem;
}
.intro__subheading span {
  font-weight: 400;
}
.intro__subheading::after {
  position: absolute;
  content: "";
  top: 0.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue);
  opacity: 0.3;
  border-radius: 0.5rem;
  z-index: -5;
}
.intro__closing {
  position: relative;
  margin-top: 2rem;
  padding: 1.25rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
}
.intro__closing::after {
  position: absolute;
  content: "";
  top: 0.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue);
  opacity: 0.3;
  border-radius: 0.5rem;
  z-index: -5;
}
.intro__form div {
  margin-bottom: 1.5rem;
  position: relative;
}
.intro__form input {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.25rem;
}
.intro__form input::-webkit-input-placeholder {
  font-weight: 600;
}
.intro__form input[type=text], .intro__form input[type=email], .intro__form input[type=password] {
  border: 1px solid var(--color-grayish-blue);
}
.intro__form input[type=text]:focus, .intro__form input[type=email]:focus, .intro__form input[type=password]:focus {
  outline: none;
  border: 1px solid var(--color-dark-blue);
}
.intro__form input[type=text].invalid, .intro__form input[type=email].invalid, .intro__form input[type=password].invalid {
  outline: none;
  border: 1px solid var(--color-red);
  color: var(--color-red);
}
.intro__form button {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.25rem;
  position: relative;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-green);
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 5px solid var(--color-darker-green);
}
.intro__error-icon {
  display: none;
  position: absolute;
  right: 5%;
  top: 0;
  transform: translateY(70%);
}
.intro__error-message {
  display: none;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  text-align: right;
  color: var(--color-red);
}
.intro__notice {
  display: block;
  margin-top: 1rem;
  color: var(--color-grayish-blue);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
}
.intro__notice span {
  color: var(--color-red);
  font-weight: 600;
}
.intro__form input.invalid + .intro__error-message {
  display: block;
}
.intro__form input.invalid ~ .intro__error-icon {
  display: block;
}

@media only screen and (min-width: 56em) {
  body {
    min-height: 100vh;
    background-image: url(../images/bg-intro-desktop.png), linear-gradient(to bottom, var(--color-red), var(--color-red));
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%;
  }

  .intro {
    display: flex;
    column-gap: 5rem;
  }
  .intro__body, .intro__cta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro__body {
    align-items: center;
    text-align: left;
  }
  .intro__heading {
    align-self: flex-start;
    font-size: 3rem;
    line-height: 1.1;
  }
  .intro__cta {
    align-items: stretch;
  }
  .intro__subheading {
    font-size: 1.05rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .intro__form button {
    font-size: 1rem;
  }
}
.attribution {
  display: none;
}
